{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<h1>Create a New Post</h1>
<form method="POST" action="{% url 'create' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit Post</button>
</form>

<h1>All Posts</h1>
{% for post in page_obj %}
<div class="post-item">
    <h2>{{ post.title }}</h2>
    <p><em>By <a href={% url 'profile' post.creator.id %}>{{ post.creator }}</a></em></p>
    <div>{{ post.content }}</div>

    <p> Likes: <span class="like-count" id="like-count-{{ post.id }}">{{ post.likes }}</span></p>
    <button class="like-button" type="button" data-post-id="{{ post.id }}">Like</button>

{% if post.creator == request.user %}
        <button type="button" onclick="window.location.href='{% url 'edit' post.id %}'">Edit</button>
{% endif %}

</div>

{% endfor %}

{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">prev</a>
{% endif %}
Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
{% endif %}

{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}
