body {
    padding: 50px;
}

.listing-link {
    color:blue;
}

.comments{
    position: absolute;
    top: 300px;
    right: 200px;
    width: 600px;
    text-align:left;
}

.actions{
    position: absolute;
    display:flex;
    align-items:right;
    gap:.30rem;
}
