{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <a href="{% url 'create' %}">Create a new list</a>
    <ol>

    {% for lst in Listing reversed %}

    <li><a class="listing-link" href="{% url 'item' lst.id %}">{{ lst.title }}</a>
    {% if lst.is_closed %}
    (closed)
    {% endif %}
    </li>

    {% if not lst.url %}
    <ul>No photo available</ul>
    {% else %}
    <img src="{{ lst.url }}" width ="300">
    {% endif %}

    <ul>Description: {{ lst.description }}</ul>
    <ul>Current price: {{ lst.starting_price }}</ul>
    <ul>Category: {{ lst.category }}</ul>
    {% endfor %}

    </ol>
{% endblock %}
