{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for lst in Listing %}
    <ul>
        <a href="{% url 'item' lst.title %}" style="color:blue">{{ lst.title }}</a>
    {% if not lst.url %}
    <li>No photo available</li>
    {% else %}
    <img src="{{ lst.url }}" width ="300">
    {% endif %}

    <li>Description: {{ lst.description }}</li>
    <li>Current price: {{ lst.starting_bid }}</li>
    <li>Category: {{ lst.category }}</li>
    </ul>
    {% endfor %}
    <a href="{% url 'create' %}">Create a new list</a>
{% endblock %}
