{% extends "auctions/layout.html" %}

{% block body %}
<h2>{{ item.title }}</h2>
{% if not item.url %}
<li>No photo available</li>
{% else %}
<img src="{{ item.url }}" width = "600">
{% endif %}
<li>Description: <{{ item.description }}/li>
<li>Current price: {{ item.starting_bid }}</li>
<li>Category: {{ item.category }}</li>

<br><br>
<br><br>

<form action="{% url 'item' item.title %}" method="post">
    {% csrf_token %}
    <label for="comment">Comment:</label>
    <input id="comment" name="body" type="text">
    <input type="submit">
{% for comment in comments reversed %}
<div>
    {{ comment.commenter }}: {{ comment.body }}
</div>
{% endfor %}

{% endblock %}
